body {
  background-image: url(./Assets/Background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  min-height: 100%;
  color: white;
  font-size: 20px;
}

.home {
  background-image: url(./Assets/homepage_background.jpg)
}

.aboutme {
  background-image: url(./Assets/background_aboutme.jpeg)
}

.portfolio {
  background-image: url(./Assets/background_portfolio.jpeg);
}

.contact {
  background-image: url(./Assets/background_contact.jpeg)
}

.main-heading {
  font-family: 'Oswald', sans-serif;
  color: white;
  text-align: right;
  font-size: 5rem;
}

h1 {
  font-family: 'Oswald', sans-serif;
}

.small-heading {
  font-size: 24px;
}

.link-icon {
  color: white;
}

li {
  font-size: 28px;
  font-family: 'Oswald', sans-serif;
}

.grayscale {
  filter: grayscale(100%);
}

.link {
  color: rgb(167, 181, 245);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(167, 181, 245);
  background-color: transparent;
  text-decoration: underline;
}

.transparent {
  background-color: rgba(44, 147, 243, 0.7);
}

.opaque-navbar {
  background-color: rgba(44, 147, 243, 0.4);
}

.blue {
  color: rgba(164, 92, 247, 0.7);
}
